.arrow {
    border: solid #9AA3B8;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 16px;
    position: relative;
    top: 2px;
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
}
