.logo {
    display: flex;
    width: 300px;
    font-size: 32px;
    border-right: 2px solid #E0E6F1;
    align-items: center;
    text-transform: uppercase;
}

.logo span {
    margin-left: 40px;
}
