.wrapper {
    display: flex;
}

.content {
    margin: 120px;
    background-color: white;
    width: 100%;
}

.header {
    height: 100px;
    display: flex;
    border-bottom: 2px solid #E0E6F1;
}

.menu, .logo {
    flex-shrink: 0;
    width: 300px;
    border-right: 2px solid #E0E6F1;
    height: 100%;
}

.page {
    display: flex;
}

.routes {
    background-color: #FAFBFC;
    padding: 50px;
    width: 100%;
}

.topBar {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.userInfo {
    flex-grow: 1;
}

.authButton {
    width: 80px;
    flex-shrink: 0;
}
